body {
  background-color: rgba(244,246,249, 0.8);
  display: block;
  max-width: $percentage-max-width;
  min-width: $auto;
  max-height: $percentage-max-width;
  min-height: $auto;
  margin: 0;
}

@media (min-width: calc(#{$max-width-container} + 326px)) {

  body > main > header {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-position-x: 512px;
    background-position-y: -177px;
    background-size: $percentage-max-width - 30;
  }
}


