@import 'variables';


.logo--sports--img {
  max-width: 186px;
  min-width: 186px;
  min-height: 70px;
  max-height: 70px;
}

body > header {
  text-align: $centered;
}

body > header h1 {
  margin: 0;
  top: 30px;
  position: relative;
}
.navigation {
  position: relative;
  padding-block-start: 70px;

}

@media (min-width: 1440px) {
  body > header {
    text-align: unset;
    max-width: 1114px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;

  }
  .logo--sports--img {
    max-width: 92px;
    min-width: 92px;
    min-height: 32px;
    max-height: 32px;
  }
  body > header h1 {
    margin: 0;
    top: 63px;
    position: relative;
  }
  .navigation {
    max-width: 546px;
    padding-block-start: 133px;
  }
}
