@import 'variables';

@font-face {
  font-family: myLatoRegular;
  src: local('Lato Regular'),
       local('Lato-Regular'),
       local('lato-regular'),
       local('lato regular'),
       url('#{$lato-font-path}lato-regular.#{$woff2}') format("#{$woff2}"),
       url('#{$lato-font-path}lato-regular.#{$woff}') format("#{$woff}");
}


.description {
  font-family: myLatoRegular;
  color: $slightly-darkgray;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin-left: $auto;
  margin-right: $auto;
  max-width: 453px;
  ;
}


@media (min-width: $max-width-container) {
  .description {
    font-size: $font-size + 2px;
    line-height: $line-height + 3px;
  }
}
