
@import 'variables';

.section_features {
  text-align: $centered;
  background-color: #F4F6F9;
}
.features_info {
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  list-style: none;
}

.features_info li {
  padding-bottom: 2rem;
  font-family: myLatoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size;
  line-height: $line-height;
  color: $slightly-darkgray;
}

.section_features > header h4 {
  font-family: myLatoBold;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
}
