@import 'variables';

.section_started {
  text-align: $centered;
  background-color: white;
  padding-block-start: 2rem;
  padding-block-end: 610px;

}
.section_started {
  background-image: url(../img/bg_friendly_user_interface.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: calc(100% + 684px);
  width: auto;
  height: 403px;
}

@media (min-width: $max-width-container) {
  .section_started {

    padding-block-start: 215px;
    padding-block-end: 171px;
    background-position: calc(50% + 300px);
    max-width: 1114px;
    margin: auto;
    padding-inline-end: 8rem;
    padding-inline-start: 8rem;
  }

  .section_started header {
    text-align: left;
    // margin-inline-start: 200px;
  }

  .section_started article {
    text-align: left;
    max-width: 556px;
    // max-height: 100%;
    // margin-left: 200px;
    // margin-right: 798px;
    padding-bottom: 10rem;
  }
  .section_started__learn_more {
    margin: 0;
    margin-block-start: 54px;
  }
}
.article_image img{
  max-width: $percentage-max-width;
  max-height: $percentage-max-width;
  min-height: $percentage-max-width;
  min-width: $percentage-max-width;
  display: block;
}

.section_started h3 {
  font-family: myLatoBold;
  font-size: 16px;
  line-height: 21px;
  color: #00ADEE;
  text-transform: uppercase;
}
.section_started h4 {
  font-family: myLatoBold;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
}

.section_started p {
  font-family: myLatoRegular;
  font-size: 18px;
  line-height: 23px;
  color: #4F4F4F;
}
.section_started__learn_more a {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #00ADEE;
}
