@import 'variables';

.section_guide--communication {
  text-align: $centered;
  background-color: #F4F6F9;
}

.section_guide--communication > header h4 {
  font-family: myLatoBold;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size + 12;
  line-height: $line-height + 14;
  color: $darkgray;
}

.guide_navigation ul {
  @include reset-list;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.guide_navigation > ul li:nth-of-type(1) {
  grid-column: 1/3;

}
.guide_navigation > ul li:nth-of-type(2) {
  grid-column: 3/5;
}
.guide_navigation > ul li:nth-of-type(3) {

}
.guide_navigation > ul li:nth-of-type(4) {
  grid-column: 2/4;
}
.guide_navigation > ul li:nth-of-type(5) {

}
.guide_navigation > ul li:nth-of-type(6) {
  grid-column: 1/5;
}
@media (min-width: $max-width-container) {
.section_guide--communication {
  max-width: $max-width-container;
  margin: $auto;
  padding-inline-end: 8rem;
  padding-inline-start: 8rem;
}
.guide_navigation > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: $auto;
}
}
