.logo--sports--img {
  max-width: 186px;
  min-width: 186px;
  min-height: 70px;
  max-height: 70px;
}

body > header {
  text-align: center;
}

body > header h1 {
  margin: 0;
  top: 30px;
  position: relative;
}


@media (min-width: 1440px) {
  body > header {
    text-align: unset;
    max-width: 1114px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-position: right -28% bottom 60%;
  }
  .logo--sports--img {
    max-width: 92px;
    min-width: 92px;
    min-height: 32px;
    max-height: 32px;
  }
  body > header h1 {
    margin: 0;
    top: 63px;
    position: relative;
  }
  .navigation {
    top: 120px;
    position: relative;
  }
}
