@font-face {
  font-family: myLatoBold;
  src: local('Lato Bold'),
       local('Lato-Bold'),
       local('lato-bold'),
       local('lato bold'),
       url('../fonts/any_conv.com__lato-bold.woff2') format("woff2"),
       url('../fonts/any_conv.com__lato-bold.woff') format("woff");
}

.masthead__heading {
  font-family: myLatoBold;
  letter-spacing: 0.03em;
  color: #333333;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}

@media (min-width: 1440px) {
  .masthead__heading {
  font-size: 30px;
  line-height: 40px;

  }
}
