@media (min-width: 1440px) {

  body > main .masthead {
    text-align: unset;
  }
}

main .masthead {
  text-align: center;
}
main .masthead > header h2 {
  position: relative;
  top: 150px;
  left: 20px;
  right: 20px;
}

