@media (min-width: 1440px) {

  body > main .masthead {
    text-align: unset;
  }
}

main .masthead {
  text-align: center;
}
main .masthead > header h2 {
  position: relative;
  top: 50px;
}
img {
  position: relative;
  padding-block-start: 38px;
  padding-inline-end: 16px;
}
